.has-fade{
    visibility: hidden;
}
@keyframes grow{
    from{
        opacity: 0;
        width: 0%;
    }
    1%{
        opacity: 1;
        width: 1%;
    }
    to{
        opacity: 1;
        width: 100%;
    }
}
@keyframes fade-in{
    from{
        visibility: hidden;
        opacity: 0;
    }
    1%{
        visibility: visible;
        opacity: 0;
    }
    to{
        visibility: visible;
        opacity: 1;
    }
}
@keyframes fade-out{
    from{
        visibility: visible;
        opacity: 1;
    }
    99%{
        visibility: visible;
        opacity: 0;
    }
    to{
        visibility: hidden;
        opacity: 0;
    }
}
.fade-in{
    animation: fade-in 400ms ease-in-out forwards  ;
}
.fade-out{
    animation: fade-out 500ms ease-in-out forwards ;
}