html {
     font-size: 100%;
     box-sizing: border-box;
}

*,
*::before,
*::after {
     box-sizing: inherit;
}

body {
     &::-webkit-scrollbar {
     display: none;
     }
     margin: 0;
     padding: 0;
     line-height: 1.3;
     font-family: "Montserrat", sans-serif;
     font-weight: 300;
     color: var(--white);
     -ms-overflow-style: none; /* IE and Edge */
     scrollbar-width: none; /* Firefox */

     &.noscroll{
          overflow: hidden;
     }
}

h1,
h2,
h3 {
     margin-top: 0;
}

a,
a:visited,
a:active {
     text-decoration: none;
}

//Flexbox
.flex {
     display: flex;

     &-jc-sb {
          justify-content: space-between;
     }

     &-jc-sa {
          justify-content: space-around;
     }

     &-jc-c {
          justify-content: center;
     }

     &-ai-c {
          align-items: center;
     }

     &-fd-col{
          flex-direction: column;
     }
}

// 640px, 1150px, 1400px
$breakpoints-up: (
     "medium": "40em",
     "large": "71.875em",
     "xlarge": "87.5em",
);

// 639px, 1149px, 1399px
$breakpoints-down: (
     "small": "39.9375em",
     "medium": "71.8125em",
     "large": "87.4375em",
);

@mixin breakpoint-up($size) {
     @media (min-width: map-get($breakpoints-up, $size)) {
          @content;
     }
}

@mixin breakpoint-down($size) {
     @media (max-width: map-get($breakpoints-down, $size)) {
          @content;
     }
}


