:root{
    --text--light-blue: #51C9D1;
    --main-blue: #383CC1;
    --black: #0D0D0D;
    --gradient-end: #1C1E61;
    --tick-gradient-start: #7072C6;
    --main--blue: #383CC1;
    --black: hsl(0, 0%, 5%);
    --white: hsl(0, 0%, 100%);

    //font weights
    --x-light:200;
    --light:300;
    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
}